@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* HEADER */
header {
  width: 100%;
  height: 70px;
  background-color: #ffc017;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px black;
  font-family: "Roboto";
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.7s ease;
}
@media screen and (max-width: 700px) {
  li {
    display: none;
  }
}
#headerContent {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  #headerContent {
    width: 90%;
  }
  #emme {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #headerContent {
    width: 90%;
  }
}
#getstarted {
  background-color: #191919;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1rem;
  margin-left: 30px;
  transition: background-color 0.7s ease;
}
#logo {
  align-content: center;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav ul li {
  list-style-type: none;
}
/* MAIN */
#emme {
  position: absolute;
  right: 5px;
}
main {
  font-family: "Roboto";
}
#yellowbox {
  width: 100%;
  background-color: #ffc017;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px black;
  padding-block: 50px;
}
#titlebox {
  width: 80%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
  position: relative;
}

h1 {
  font-family: "Specter", serif;
  font-size: 6rem;
  width: 60%;
  font-weight: 500;
  letter-spacing: -3px;
}

#titlebox h2 {
  font-size: 1.5rem;
  width: 60%;
  font-family: "Roboto";
}
#startreading {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 1.5rem;
  width: 250px;
}
@media screen and (max-width: 910px) {
  h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 700px) {
  #titlebox {
    width: 90%;
    gap: 0px;
    padding-block: 40px;
    display: flex;
  }
  #yellowbox {
    padding: 0;
  }
  h1 {
    width: 100%;
    font-size: 4.3rem;
    line-height: 60px;
    padding-bottom: 25px;
  }
  #titlebox h2 {
    font-size: 1.4rem;
    width: 80%;
    padding-bottom: 25px;
  }
  #startreading {
    font-size: 1rem;
    width: 200px;
  }
  #getstarted {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1024px) {
  #titlebox {
    width: 90%;
  }
}
#maintrending {
  width: 100%;
  display: flex;
  padding-top: 50px;
  border-bottom: solid 1px rgba(71, 71, 71, 0.116);
  display: flex;
  justify-content: center;
}
#trendingbox {
  width: 80%;
  display: flex;
  flex-direction: column;
}
#trendingmessage {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 8px;
  margin-bottom: 20px;
}
#trendingarticles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.articlebox {
  display: flex;
  width: 33%;
  gap: 20px;
  margin-bottom: 40px;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
}
.articlenum {
  font-size: 2.5rem;
  color: rgba(124, 124, 124, 0.137);
  font-weight: 600;
}
.author {
  display: flex;
  align-items: center;
  gap: 5px;
}
.author img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.author h4 {
  font-weight: 400;
}
.article h3 {
  font-weight: bold;
  font-size: 1.2rem;
}

.articledetails {
  display: flex;
  align-items: center;
  gap: 5px;
}
.articledetails span {
  color: gray;
}
@media screen and (max-width: 1024px) {
  #trendingbox {
    width: 90%;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
  }
  .articlebox {
    display: flex;
    width: 50%;
    gap: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 700px) {
  #trendingbox {
    width: 90%;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
  }
  #trendingarticles {
    width: 100%;
    flex-direction: column;
  }
  .articlebox {
    display: flex;
    width: auto;
    margin-bottom: 0px;
  }
  #maintrending {
    padding: 0px;
  }
  .article h3 {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .articledetails span {
    font-size: 0.6rem;
  }
  .articlenum {
    font-size: 1.5rem;
  }
  #trendingmessage {
    font-size: 0.8rem;
  }
  .author h4 {
    font-size: 0.7rem;
  }
}
#maincontent {
  width: 100%;
  display: flex;
  justify-content: center;
}
#maincolumn {
  width: 80%;
  display: flex;
  padding-top: 60px;
  gap: 80px;
}
#articolumn {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.articleM {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  justify-content: space-between;
  gap: 30px;
}
.authorM {
  display: flex;
  align-items: center;
  gap: 5px;
}
.authorM img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.articletext {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.articletext h3 {
  font-weight: bold;
  font-size: 1.3rem;
}
.articletext p {
  font-size: 1rem;
  color: gray;
}
.articledetailsM {
  display: flex;
  justify-content: space-between;
}
.detailstext {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: gray;
}
.selectedcat {
  background-color: rgba(138, 138, 138, 0.144);
  border-radius: 10px;
  padding: 5px;
  font-weight: 300;
}
.articleimg {
  width: 40%;
}
.articleimg img {
  height: 150px;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}
#categoriesbox h5 {
  font-weight: bold;
}
.category {
  background-color: rgba(138, 138, 138, 0.144);
  border-radius: 15px;
  padding: 10px;
  font-weight: 400;
  font-size: 0.8rem;
}
#categoriesbox p {
  padding-top: 25px;
  color: green;
  font-size: 0.8rem;
  border-bottom: solid 1px rgba(71, 71, 71, 0.116);
  padding-bottom: 40px;
}
#helplinks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 20px;
}
#helplinks a {
  text-decoration: none;
  color: gray;
  font-size: 0.8rem;
}
#discovcolumn {
  width: 30%;
  height: 350px;
  position: sticky;
  top: 100px;
  right: 0;
}
@media screen and (max-width: 1024px) {
  #maincontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #maincolumn {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-inline: 0px;
    justify-content: center;
  }
  #articolumn {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .articleM {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-between;
    gap: 30px;
  }
  .authorM img {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }

  #discovcolumn {
    width: 100%;
    height: 350px;
    position: relative;
  }
}
@media screen and (max-width: 700px) {
  #maincontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #maincolumn {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-inline: 0px;
    justify-content: center;
  }
  #articolumn {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .articleM {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-between;
    gap: 30px;
  }
  .authorM img {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
  .articletext h3 {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .articletext p {
    display: none;
  }
  .authorM h4 {
    font-size: 0.7rem;
  }
  .articledetailsM span {
    font-size: 0.6rem;
  }
  .selectedcat h6 {
    font-size: 0.6rem;
  }
  .articleimg img {
    height: 100px;
  }
  #discovcolumn {
    width: 100%;
    height: 350px;
    position: relative;
  }
}
@media screen and (max-width: 1150px) {
  #emme {
    right: -250px;
  }
  #yellowbox {
    position: relative;
    overflow: hidden;
  }
}
